@import "tailwindcss";




:root {
  --background: #fe8819;
  --foreground: #171717;
  --color-primaire: #2563eb;
  --color-secondaire: #22c55e;
  --text-primaire: #000000;
  --bg-primaire: #ffffff;
}




/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  
  /* border:2px solid #ffffff; */
  min-height: 100vh;
  /* min-height: 80vh; */
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(./favicon.ico); */
}


